# /etc/systemd/system/webcam_ntfy.service
[Unit]
Description=Webcam FTP Ordner überwachen und ntfy-Benachrichtigung senden

[Service]
Type=simple
User=raspiroman
ExecStart=/usr/bin/python3 /home/raspiroman/project/webcam_watcher/webcam_ntfy_watcher.py
Restart=always

[Install]
WantedBy=multi-user.target